/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
img,
input,
fieldset,
legend,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

b,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
  border: none;
}

input {
  outline: none;
}

/*取消输入框的蓝色边框线 */

.clear:after {
  content: ".";
  height: 0;
  overflow: hidden;
  display: block;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

/*解决IE的兼容问题*/

.fl {
  float: left;
}

.fr {
  float: right;
}

body{
  font-size: 0.2rem;
}